<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
  </system.web>
  <!--<connectionStrings>
    <add connectionString="user ID=SERVICE_LKM;password=s3rv1c3_lkm; Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=mgga2de1dbscn.us.dell.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=cir4s_default.sit.amer.dell.com)));" name="LKM"/>
  </connectionStrings>-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LKMConstr" value="

mcQKhSSzcMOPlPEL+CNRZFC2QywALnWQ3QDJtHqEoqFgfN/pd+7CWKKcVKldARZk3NOFzElsSHJ48SAASewa/hY28e0Mmf8riNS2WfMnOKm0VZmJheDjo5kf0KF2HijnNTq+Bn+WbVulzVqPW1P5V5MQLTI9aXQmKsU9gI+zIJgpaHWnmhK/l3sMEshEYv2frXau2b4msSdzt2HyT7A0vZBLyz9E/2N7H9x+rHm48Sg7WGVsrQpiK48tH3nKDks97QwOkDNBrGptq7W3kNY7xInEk87Xl1IYIT5MzR8hOMk13g7U1MEHzw=="/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
